.EquipmentBar {
  display: flex;

  > * {
    margin: 0 0.6rem;
  }

  .icon {
    &_broken {
      fill: var(--color-red-primary);
    }
    &_notavailable {
      fill: var(--color-gray);
    }
    &_available {
      fill: var(--color-green-primary);
    }
  }
}