.EquipmentBar {
  display: flex;

  > * {
    margin: 0 0.6rem;
  }

  .btn {
    &_broken {
      .icon { fill: var(--color-red-primary); }
    }
    &_notavailable {
      .icon { fill: var(--color-gray); }
    }
    &_available {
      .icon { fill: var(--color-green-primary); }
    }
  }
}