.AllocationsView {
  height: 100%;
  min-height: 220px;
  min-width: 48vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 4rem;
  
  .Allocations {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    > * {
      margin: 4rem 0;
    }
  }

  @media only screen and (max-width: 37.5em) { 
    padding-top: 0;
  }
}