.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-normal);
  min-width: 3rem;
  min-height: 3rem;
  color: var(--color-light);
  border: none;
  background: none;
  outline: none;

  &.btn_red {
    background: var(--color-red-secondary);
    border: 1px solid var(--color-red-alt);
  }

  &.btn_green {
    background: var(--color-green-secondary);
    border: 1px solid var(--color-green-alt);
  }

  &.btn_yellow {
    background: var(--color-orange-secondary);
    border: 1px solid var(--color-orange-alt);
  }

  &.btn_flat {
    padding: 1.5rem 2rem;
    > * {
      margin: 0 0.6rem;
    }
  }
}

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke-width: 0;
  stroke: var(--color-light);
  fill: var(--color-light);
}
