:root {
  --color-light: #FFF;
  --color-dark: #000;
  --color-gray: #757575;
  --color-green-primary: #4CAF50;
  --color-green-secondary: #388e3c;
  --color-green-alt: #8bc34a;
  --color-red-primary: #F44336;
  --color-red-secondary: #d32f2f;
  --color-red-alt: #ff5722;
  --color-orange-primary: #FBC02D;
  --color-orange-secondary: #ff9800;
  --color-orange-alt: #ffeb3b;
  --color-backdrop: rgba(0, 0, 0, 0.5);

  --font-size-normal: 2rem;
  --font-size-big: 2.5rem;
  --font-size-huge: 11rem;
}