:root {
  --color-light: #FFF;
  --color-dark: #000;
  --color-light-gray: #CCCCCC;
  --color-dark-gray: #444444;
  --color-gray: #AAAAAA;
  --color-green-primary: #4CAF50;
  --color-red-primary: #F44336;
  --color-orange-primary: #FBC02D;
  --color-backdrop: rgba(0, 0, 0, 0.5);

  --font-size-small: 1.5rem;
  --font-size-normal: 2rem;
  --font-size-big: 2.5rem;
  --font-size-huge: 11rem;
}