.RoomStatusBorder {
  height: 92vh;
  text-align: center;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: 37.5em) { 
    flex-direction: column;
  }

  &.free {
    background: var(--color-green-primary);
  }
  
  &.occupied {
    background: var(--color-red-primary);
  }

  &.awaiting {
    background: var(--color-orange-primary);
  }
}