.Popup {
  display: none;
  

  &.open {
    display: block;
  }
  

  &Close {
    position: absolute;
    right: 2rem;
  }
  
  &Content {
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    max-width: 100vw;
    transform: translate(-50%, -50%);
    color: var(--color-dark);
    font-size: var(--font-size-small);
    background: var(--color-light);
    border: 1px solid;
    box-shadow: 0 2px 3px var(--color-gray);
    padding: 1rem;
    box-sizing: border-box;
    z-index: 100;
  }
}