.Popup {
  display: none;
  
  &.open {
    display: block;
  }
  
  .content {
    position: fixed;
    height: 80vh;
    width: 80vw;
    background: pink;
    z-index: 1000;
    top: 10vh;
    left: 10vw;
  }
}