.Popup {
  display: none;
  

  &.open {
    display: block;
  }
  

  &Close {
    position: absolute;
    right: 2rem;
  }
  
  &Content {
    max-height: 90vh;
    overflow: auto;
    width: 90vw;
    position: fixed;
    top: 5vh;
    left: 5vw;
    color: var(--color-dark);
    font-size: var(--font-size-small);
    background: var(--color-light);
    border: 1px solid;
    box-shadow: 0 2px 3px var(--color-gray);
    padding: 10px;
    box-sizing: border-box;
    z-index: 100;
  }
}