.RoomViewContent {
  height: 88vh;
  min-height: 250px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: 37.5em) {
    flex-direction: column;
    min-height: 500px;
  }

  &Separator {
    height: 60vh;
    width: 1px;
    min-width: 1px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(256, 256, 256, 0.75), rgba(0, 0, 0, 0));
    @media only screen and (max-width: 37.5em) {
      min-height: 1px;
      height: 1px;
      width: 70vw;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(256, 256, 256, 0.75), rgba(0, 0, 0, 0));
    }
  }
}
