@mixin changeAt($device) {
  // at 600px
  @if $device == phone {
    @media only screen and (max-width: 37.5em) { @content };    
  }
  // at 900px
  @if $device == tab-port {
    @media only screen and (max-width: 56.25em) { @content };     
  }
  // at 1200px
  @if $device == tab-land {
    @media only screen and (max-width: 75em) { @content };   
  }
  // at 1800px
  @if $device == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };    
  }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  
  
  @include changeAt(tab-land) { // width < 1200?
    font-size: 55%; //1 rem = 9px, 9/16 = 50%
  }
  @include changeAt(tab-port) { // width < 900?
    font-size: 48%; //1 rem = 8px, 8/16 = 50%
  }
  @include changeAt(phone) { // width < 600?
    font-size: 40%; //1 rem = 8px, 8/16 = 50%
  }
  
  @include changeAt(big-desktop) {
    font-size: 80%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  background: black;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }
  
  .icon {
    display: inline-block;
    width: 2rem;
  height: 2rem;
  stroke-width: 0;
  stroke: white;
  fill: white;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  min-width: 3rem;
  min-height: 3rem;
  color: white;
  border: none;
  background: none;
  outline: none;

  &.btn_red {
    background: #D32F2F;
    border: 1px solid #FF5722;
  }

  &.btn_green {
    background:#388E3C;
    border: 1px solid #8BC34A;
  }

  &.btn_yellow {
    background:#FF9800;
    border: 1px solid #FFEB3B;
  }

  &.btn_flat {
    padding: 1.5rem 2rem;
    > * {
      margin: 0 0.6rem;
    }
  }
}
