.AllocationMenu {
  display: flex;
  flex-wrap: wrap;

  &.free > * {
    // background: var(--color-green-secondary);
    border: 1px solid var(--color-green-alt);
  }
  &.occupied > * {
    // background: var(--color-red-secondary);
    border: 1px solid var(--color-red-alt);
  }
  &.awaiting > * {
    // background: var(--color-orange-secondary);
    border: 1px solid var(--color-orange-alt);
  }

  > * {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}